.contacts {
  padding: 75px 0 70px;

  @media (min-width: $tablet-width) {
    padding: 100px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 120px 0;
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $desktop-width) {
    gap: 40px;
  }
}

.contacts__top {
  padding-bottom: 30px;
  border-bottom: 2px solid $white-color-02;

  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    gap: 100px;
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts__address {
  font-style: normal;
}

.contacts__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    max-width: 605px;
    gap: 30px 55px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    gap: 24px;
  }
}

.contacts__item-title {
  font-size: 12px;
  line-height: 12px;
  color: $second-text-color;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  opacity: 0.8;
}

.contacts__item-text,
.contacts__item-link {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;

    br {
      display: block;
    }
  }
}

.contacts__item-link {
  @include link-reset;

  position: relative;
  outline: none;
  transition: opacity 0.3s, color 0.3s;

  &::before {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: background-color 0.3s;
  }

  @media (min-width: $desktop-width) {
    line-height: 17px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    color: $main-text-color;

    &::before {
      background-color: $main-text-color;
    }
  }

  &:active {
    color: $white-color;
    opacity: 1;

    &::before {
      background-color: $white-color;
    }
  }
}

.contacts__item-link--disabled {
  color: $disabled-color;
  cursor: default;
  pointer-events: none;

  &:focus {
    color: $disabled-color;

    &::before {
      background-color: transparent;
    }
  }

  &:active {
    color: $disabled-color;

    &::before {
      background-color: transparent;
    }
  }
}

.contacts__map-wrapper {
  width: 290px;
  height: 240px;
  border-radius: 16px;
  overflow: hidden;
  background-color: $second-text-color;

  @media (min-width: $tablet-width) {
    width: 678px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    height: 486px;
  }
}

.contacts__map {
  display: block;
}
