.main-scrollbar {
  position: relative;
  height: 2px;
  background-color: $accent-color-02;
  margin: 10px 0;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: calc(100% + 20px);
    transform: translateY(-50%);
  }
}

.main-scrollbar__drag {
  position: relative;
  height: 100%;
  background-color: $accent-color;
  cursor: pointer;
  transition: opacity 0.3s, background-color 0.3s;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: calc(100% + 20px);
    transform: translateY(-50%);
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    background-color: $active-color;
    opacity: 1;
  }
}
