/* FONTS */
$main-font: "Manrope", sans-serif;

/* COLORS */
$white-color: #ffffff;
$white-color-02: rgba(255, 255, 255, 0.2);
$white-color-07: rgba(255, 255, 255, 0.7);
$accent-color: #316dc2;
$main-text-color: #484848;
$main-text-color-06: rgba(72, 72, 72, 0.6);
$second-text-color: #f0efe9;
$dark-overlay: rgba(13, 29, 51, 0.4);
$blue-overlay: rgba(49, 109, 194, 0.2);
$disabled-color: #a9afb7;
$active-color: #275699;
$error-color: #ff5e66;

/* VIEWPORTS */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
